<div class="d-flex flex-colum flex-md-row aling-items-center pb-3 mb-4 border">

  <a href="/" class="d-flex aling-items-center text-dark text-decoration-nome">
    <app-header></app-header>
  </a>

  <nav class="d-inline-flex mt-2 mt-0 ms-md-auto">
    <a class="me-3 py-2 text-dark text-decoration-nome" href="#">Sobre</a>
    <a class="me-3 py-2 text-dark text-decoration-nome" href="#">Produtos</a>
    <a class="me-3 py-2 text-dark text-decoration-nome" href="#">Suporte</a>
  </nav>

  <a class="btn btn-outline-primary" href="#">Sign up"</a>


</div>